@model List<EventDisplayViewModel>
@{
    ViewData["Title"] = "Home Page";
    //var eventItems = 
}
<div class="row">
    <div class="col-12">
        <form method="post" class="p-4">
            
            <div class="form-row">
                <div class="col">
                    <input type="text" name="search" class="form-control" placeholder="Ex. New year">
                </div>
                <div class="col-1">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
@foreach (var item in Model.OrderBy(o => o.StartDateTime))
{
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="mb-1 text-muted"><h4 class="text-primary">@item.StartDateTime.ToString("MMM dd, yyyy") at @item.StartDateTime.ToString("HH:mm")</h4></div>
                    <h2 class="mb-0">@item.Title</h2>
                    <p class="card-text mb-auto">@item.Note</p>
                </div>
            </div>
        </div>
    </div>
}
